Xcursor.theme: Adwaita
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.dpi: 96

!#include ".Xresources.d/jellybeans-nvim-vibrant-dark"
!#include ".Xresources.d/jellybeans-nvim-vibrant-light"
#include ".Xresources.d/melange-dark"
!#include ".Xresources.d/melange-light"
